Repository microsoft/component-detection, pull requests merged in 2021-12, with the labels that each got.

#8 Target netstandard2.0 for contracts
  Directory.Packages.props
  src/Microsoft.ComponentDetection.Contracts/Microsoft.ComponentDetection.Contracts.csproj
Labels: component-detection

#13 Adding Property setters for conda component to enable deserialization…
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/CondaComponent.cs
Labels: bug, component-detection

#15 Fix feature request template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: repo-configuration

#19 Target .NET Core 3.1
  .github/workflows/build-release.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gen-docs.yml
  .github/workflows/publish-release-snapshot.yml
  .github/workflows/test-linux.yml
  .github/workflows/verify-snapshot.yml
  Directory.Build.props
  Directory.Packages.props
  README.md
  global.json
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/PodComponent.cs
  src/Microsoft.ComponentDetection.Detectors/Microsoft.ComponentDetection.Detectors.csproj
  src/Microsoft.ComponentDetection.Detectors/linux/LinuxScanner.cs
Labels: documentation, repo-configuration, component-detection

#23 Add poetry detector
  README.md
  docs/creating-a-new-detector.md
  docs/detectors/README.md
  docs/detectors/poetry.md
  docs/feature-overview.md
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetryLock.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetryPackage.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetrySource.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/PoetryComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PoetryComponentDetectorTests.cs
Labels: documentation, component-detection

#12 Allow opt-in go cli scanning
  .vscode/launch.json
  src/Microsoft.ComponentDetection.Common/DetectorDependencies.cs
  src/Microsoft.ComponentDetection.Common/EnvironmentVariableService.cs
  src/Microsoft.ComponentDetection.Contracts/IDetectorDependencies.cs
  src/Microsoft.ComponentDetection.Contracts/IEnvironmentVariableService.cs
  src/Microsoft.ComponentDetection.Contracts/Internal/InjectionParameters.cs
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/GoComponentDetectorTests.cs
Labels: repo-configuration, component-detection

#28 Update go detection docs
  docs/detectors/go.md
Labels: type:docs, detector:go, documentation
