Repository microsoft/component-detection, pull requests merged in 2022-08, with the labels that each got.

#187 refactor: remove unused usings
  src/Microsoft.ComponentDetection.Common/DependencyScopeComparer.cs
  src/Microsoft.ComponentDetection.Common/DockerReference/DockerReferenceUtility.cs
  src/Microsoft.ComponentDetection.Common/DockerReference/DockerRegex.cs
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/PyPiCacheTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Contracts/BcdeModels/DependencyScope.cs
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/maven/MavenParsingUtilities.cs
  src/Microsoft.ComponentDetection.Detectors/vcpkg/VcpkgComponentDetector.cs
  test/Microsoft.ComponentDetection.Common.Tests/DependencyScopeComparerTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/EnvironmentVariableServiceTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/MavenParsingUtilitiesTests.cs
Labels: type:refactor

#174 feat: add `NuGetPackagesConfigDetector`
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetPackagesConfigDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Microsoft.ComponentDetection.Detectors.Tests.csproj
  test/Microsoft.ComponentDetection.Detectors.Tests/nuget/NuGetPackagesConfigDetectorTests.cs
  test/Microsoft.ComponentDetection.VerificationTests/resources/nuget/packages-config/packages.config
Labels: version:minor, type:feature, detector:nuget

#194 docs: how to update syft
  docs/update-syft.md
Labels: type:docs

#204 refactor: fix SA1001
  .editorconfig
  test/Microsoft.ComponentDetection.Detectors.Tests/LinuxContainerDetectorTests.cs
Labels: type:refactor

#205 refactor: fix SA1005
  .editorconfig
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/linux/LinuxContainerDetector.cs
Labels: type:refactor

#207 refactor: fix SA1648
  .editorconfig
  src/Microsoft.ComponentDetection.Contracts/FileComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/gradle/GradleComponentDetector.cs
Labels: type:refactor

#208 refactor: fix SA1518
  .editorconfig
  src/Microsoft.ComponentDetection.Common/AsyncExecution.cs
  src/Microsoft.ComponentDetection.Common/Column.cs
  src/Microsoft.ComponentDetection.Common/DockerReference/DigestUtility.cs
  src/Microsoft.ComponentDetection.Common/FileUtilityService.cs
  src/Microsoft.ComponentDetection.Common/ISafeFileEnumerableFactory.cs
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/LinuxContainerDetectorLayerAwareness.cs
  src/Microsoft.ComponentDetection.Common/VerbosityMode.cs
  src/Microsoft.ComponentDetection.Common/WarnOnAlertSeverity.cs
  src/Microsoft.ComponentDetection.Contracts/IFileUtilityService.cs
  src/Microsoft.ComponentDetection.Contracts/IObservableDirectoryWalkerFactory.cs
  src/Microsoft.ComponentDetection.Contracts/IndividualDetectorScanResult.cs
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/ComponentType.cs
  src/Microsoft.ComponentDetection.Detectors/npm/NpmComponentUtilities.cs
  src/Microsoft.ComponentDetection.Detectors/pip/IPythonCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/IPythonResolver.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonNotFoundException.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonProject.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonProjectRelease.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonVersionComparer.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonVersionUtilities.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/BcdeDevArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/Exceptions/InvalidDetectorCategoriesException.cs
  src/Microsoft.ComponentDetection.Orchestrator/Exceptions/InvalidDetectorFilterException.cs
  src/Microsoft.ComponentDetection.Orchestrator/Exceptions/NoDetectorsFoundException.cs
Labels: type:refactor

#206 refactor: fix SA1105
  .editorconfig
Labels: type:refactor

#228 refactor: use asynchronous main method
  src/Microsoft.ComponentDetection/Program.cs
Labels: version:minor, type:refactor

#106 Add Paket support
  README.md
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NuGetComponentDetectorTests.cs
Labels: version:minor, type:feature, detector:nuget

#220 feat: add container image
  .dockerignore
  ComponentDetection.sln
  Dockerfile
  test/Microsoft.ComponentDetection.Detectors.Tests/NuGetComponentDetectorTests.cs
Labels: type:feature
