Repository microsoft/component-detection, pull requests merged in 2022-10, with the labels that each got.

#117 Change Rust/Cargo detector to be lock file based
  docs/feature-overview.md
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/RustCrateDetectorTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Detectors/rust/Contracts/CargoPackage.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateUtilities.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateV2Detector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/RustCrateDetectorTests.cs
Labels: version:minor, detector:rust

#236 Refactor: Fix warning SA1101
  .editorconfig
  src/Microsoft.ComponentDetection.Common/CommandLineInvocationService.cs
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NuGetComponentDetectorTests.cs
Labels: type:refactor

#288 Migration component detection to .net6
  .editorconfig
  .github/workflows/build.yml
  .github/workflows/gen-docs.yml
  .github/workflows/release.yml
  .github/workflows/snapshot-publish.yml
  .github/workflows/snapshot-verify.yml
  .github/workflows/test-linux.yml
  Directory.Build.props
  global.json
  src/Microsoft.ComponentDetection.Common/ComponentComparer.cs
  src/Microsoft.ComponentDetection.Detectors/linux/LinuxScanner.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/RustCrateDetectorTests.cs
  test/Microsoft.ComponentDetection.VerificationTests/Microsoft.DependencyDetective.VerificationTests.csproj
Labels: version:major, type:ci, breaking change

#240 refactor: convert orchestrator to async
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/BcdeExecutionTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Orchestrator/Orchestrator.cs
  src/Microsoft.ComponentDetection/Program.cs
Labels: version:major, type:refactor, breaking change

#289 fix release failure.
  .editorconfig
  .github/workflows/release.yml
Labels: type:ci

#302 refactor: fix CA1820
  .editorconfig
  src/Microsoft.ComponentDetection.Detectors/ruby/RubyComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/SemVer/ComparatorSet.cs
  src/Microsoft.ComponentDetection.Detectors/rust/SemVer/PartialVersion.cs
Labels: type:refactor

#301 Update tomlyn to 0.15.1 fixing PoetryDetector
  Directory.Packages.props
Labels: type:bug, detector:poetry

#328 Add new exclusions to .editorconfig
  .editorconfig
Labels: type:ci

#329 Add IDE0052 to warning exclusion
  .editorconfig
Labels: type:ci

#333 Add param to skip searching /Plugins for extra detectors
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/BaseArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/IScanArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/BcdeScanExecutionService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorListingCommandService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorRegistryService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/IDetectorRegistryService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/BcdeScanExecutionServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DetectorListingCommandServiceTests.cs
Labels: type:bug
