Repository microsoft/component-detection, pull requests merged in 2022-09, with the labels that each got.

#230 refactor: replace `Nett` with `Tomlyn`
  Directory.Packages.props
  docs/running-verification-tests.md
  src/Microsoft.ComponentDetection.Detectors/Microsoft.ComponentDetection.Detectors.csproj
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetryLock.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetryPackage.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/PoetryComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/Contracts/CargoLock.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateUtilities.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateV2Detector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NuGetProjectModelProjectCentricComponentDetectorTests.cs
Labels: type:refactor, dependencies

#266 Changed the suppression messaged according to documentation for 1202
  src/Microsoft.ComponentDetection.Detectors/pip/IPyPiClient.cs
Labels: type:refactor

#268 docs: fix copyright text
  Directory.Build.props
Labels: type:docs
