Repository microsoft/component-detection, pull requests merged in 2022-02, with the labels that each got.

#58 Add Pypi Dev parsing test
  test/Microsoft.ComponentDetection.Detectors.Tests/PythonVersionTests.cs
Labels: detector:pip

#45 ci: replace verification repository
  .github/workflows/publish-release-snapshot.yml
  .github/workflows/snapshot-publish.yml
  .github/workflows/snapshot-verify.yml
  .github/workflows/verify-snapshot.yml
  docs/creating-a-new-detector.md
  test/Microsoft.ComponentDetection.VerificationTests/resources/cocoapods/simple/Podfile
  test/Microsoft.ComponentDetection.VerificationTests/resources/cocoapods/simple/Podfile.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/cocoapods/tree/Podfile
  test/Microsoft.ComponentDetection.VerificationTests/resources/go/go.mod
  test/Microsoft.ComponentDetection.VerificationTests/resources/go/go.sum
  test/Microsoft.ComponentDetection.VerificationTests/resources/go/main.go
  test/Microsoft.ComponentDetection.VerificationTests/resources/gradle/.gitignore
  test/Microsoft.ComponentDetection.VerificationTests/resources/gradle/build.gradle
  test/Microsoft.ComponentDetection.VerificationTests/resources/gradle/buildscript-gradle.lockfile
  test/Microsoft.ComponentDetection.VerificationTests/resources/ivy/ivy.xml
  test/Microsoft.ComponentDetection.VerificationTests/resources/maven/.gitignore
  test/Microsoft.ComponentDetection.VerificationTests/resources/maven/lib/pom.xml
  test/Microsoft.ComponentDetection.VerificationTests/resources/maven/pom.xml
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/.gitignore
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/lockfile/package-lock.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/lockfile/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/no-lockfile/.gitignore
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/no-lockfile/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/shrinkwrap/.gitignore
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/shrinkwrap/npm-shrinkwrap.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/npm/shrinkwrap/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/nuget/nuspec/NuGet.config
  test/Microsoft.ComponentDetection.VerificationTests/resources/nuget/nuspec/TestProject.nuspec
  test/Microsoft.ComponentDetection.VerificationTests/resources/nuget/project-assets/project.assets.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/requirements.txt
  test/Microsoft.ComponentDetection.VerificationTests/resources/pnpm/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/pnpm/pnpm-lock.yaml
  test/Microsoft.ComponentDetection.VerificationTests/resources/poetry/poetry.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/poetry/pyproject.toml
  test/Microsoft.ComponentDetection.VerificationTests/resources/ruby/Gemfile
  test/Microsoft.ComponentDetection.VerificationTests/resources/ruby/Gemfile.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/ruby/component-detection.gemspec
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/standard/Cargo.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/standard/Cargo.toml
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/standard/main.rs
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/workspaces/Cargo.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/workspaces/Cargo.toml
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/workspaces/lib/Cargo.toml
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/workspaces/lib/main.rs
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/.gitignore
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/v1/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/v1/yarn.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/v2/.gitignore
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/v2/.yarn/releases/yarn-3.1.1.cjs
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/v2/.yarnrc.yml
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/v2/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/yarn/v2/yarn.lock
Labels: type:ci

#37 ci: upload precompiled binaries to releases
  .github/workflows/build-release.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: type:ci

#62 refactor: use collection’s count property
  src/Microsoft.ComponentDetection.Common/TabularStringFormat.cs
  src/Microsoft.ComponentDetection.Detectors/linux/LinuxContainerDetector.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentHelper.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorProcessingService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorRegistryService.cs
  test/Microsoft.ComponentDetection.Common.Tests/ComponentStreamEnumerableTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NuGetProjectModelProjectCentricComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PythonCommandServiceTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/YarnLockDetectorTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/GraphTranslationUtilityTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/BcdeScanExecutionServiceTests.cs
Labels: type:refactor

#46 Support renamed dependencies in Cargo.toml
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateUtilities.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateV2Detector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/RustCrateDetectorTests.cs
  test/Microsoft.ComponentDetection.VerificationTests/resources/rust/standard/Cargo.toml
Labels: detector:rust

#63 refactor: remove unused usings
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetryLock.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetryPackage.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetrySource.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/PoetryComponentDetector.cs
  src/Microsoft.ComponentDetection/LoaderInteropConstants.cs
  src/Microsoft.ComponentDetection/Program.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/GoComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NpmDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NugetTestUtilities.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/GraphTranslationUtilityTests.cs
  test/Microsoft.ComponentDetection.TestsUtilities/EnumerableStringComparer.cs
Labels: type:refactor

#24 Create creating-a-new-service.md
  docs/creating-a-new-service.md
Labels: type:docs
