Repository microsoft/component-detection, pull requests merged in 2022-01, with the labels that each got.

#33 docs: create issue label documentation
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  docs/issue-labeling.md
Labels: type:docs

#51 Added author detection for Npm and Nuget Component
  src/Microsoft.ComponentDetection.Contracts/Internal/NpmAuthor.cs
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/NpmComponent.cs
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/NugetComponent.cs
  src/Microsoft.ComponentDetection.Detectors/npm/NpmComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetComponentDetector.cs
  test/Microsoft.ComponentDetection.Contracts.Tests/TypedComponentSerializationTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NpmDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NpmTestUtilities.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NuGetComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NugetTestUtilities.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Utilities/TestUtilityExtensions.cs
Labels: type:feature, detector:npm, detector:nuget

#57 Fix Pypi Dev version parsing
  src/Microsoft.ComponentDetection.Detectors/pip/IPyPiClient.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonVersion.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PythonVersionTests.cs
Labels: type:bug
