Repository microsoft/component-detection, pull requests merged in 2022-04, with the labels that each got.

#96 Bug Fix: While parsing maven scope, discard left-over string if present.
  src/Microsoft.ComponentDetection.Detectors/maven/MavenParsingUtilities.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/MavenParsingUtilitiesTests.cs
Labels: detector:maven

#103 Fix Go CLI cyclic dependency graph
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/GoComponentDetectorTests.cs
Labels: type:bug, detector:go

#105 Go CLI detector enhancement (`go list -m all`)
  docs/detectors/go.md
  docs/feature-overview.md
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/GoComponentDetectorTests.cs
Labels: type:feature, detector:go
