Repository microsoft/component-detection, pull requests merged in 2023-12, with the labels that each got.

#920 Resolve Pip TryAdd exception on duplicates
  src/Microsoft.ComponentDetection.Detectors/pip/IPyPiClient.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonVersion.cs
Labels: type:bug, detector:pip

#936 Adds an entry point for the sbom-tool use the ScanCommand class.
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ScanCommand.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Commands/ScanCommandTests.cs
Labels: type:feature

#934 Add Author/License to LinuxComponent
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/LinuxComponent.cs
  src/Microsoft.ComponentDetection.Detectors/linux/LinuxScanner.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/LinuxScannerTests.cs
Labels: type:feature, detector:linux

#938 Adds supplier/license info to pip components.
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/PipComponent.cs
  src/Microsoft.ComponentDetection.Detectors/pip/IPyPiClient.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonProject.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonProjectInfo.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonResolver.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipResolverTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PyPiClientTests.cs
Labels: type:feature, detector:pip
