Repository microsoft/component-detection, pull requests merged in 2023-04, with the labels that each got.

#501 Accept custom individual component file paths
  src/Microsoft.ComponentDetection.Common/DependencyGraph/DependencyGraph.cs
  src/Microsoft.ComponentDetection.Contracts/DetectedComponent.cs
  src/Microsoft.ComponentDetection.Contracts/IComponentRecorder.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/GraphTranslation/DefaultGraphTranslationService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DefaultGraphTranslationServiceTests.cs
Labels: type:bug

#508 feat: add detector experiments
  src/Microsoft.ComponentDetection.Common/FileWritingService.cs
  src/Microsoft.ComponentDetection.Common/IFileWritingService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/IExperimentConfiguration.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/NewNugetExperiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/NpmLockfile3Experiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/DefaultExperimentProcessor.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/ExperimentService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/IExperimentProcessor.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/IExperimentService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Models/ExperimentComponent.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Models/ExperimentDiff.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Models/ExperimentResults.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/ServiceCollectionExtensions.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorProcessingService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/DefaultExperimentProcessorTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentDiffTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentResultsTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentTestUtils.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DetectorProcessingServiceTests.cs
Labels: version:minor, type:feature

#512 fix: swallow exceptions processing experiments
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/ExperimentService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentServiceTests.cs
Labels: version:patch, type:bug

#519 fix(experiment): don't process if empty or tainted
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/IExperimentConfiguration.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/NewNugetExperiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/NpmLockfile3Experiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/ExperimentService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentServiceTests.cs
Labels: type:bug

#523 ci: cache NuGet packages
  .github/workflows/build.yml
  .github/workflows/snapshot-publish.yml
  .github/workflows/snapshot-verify.yml
Labels: type:ci

#524 ci: add ossf scorecard scanning
  .github/workflows/ossf-scorecard.yml
Labels: type:ci

#530 fix: filter experiments thread-safely
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/ExperimentService.cs
Labels: version:patch, type:bug

#543 ci: add smoke test
  .github/workflows/smoke-test.yml
Labels: type:ci
