Repository microsoft/component-detection, pull requests merged in 2023-09, with the labels that each got.

#760 ci(build): build on windows and linux
  .github/workflows/build.yml
Labels: type:ci

#765 docs(go): add 1.17 info
  docs/detectors/go.md
Labels: type:docs, go

#757 docs(readme): add codecov badge
  README.md
Labels: type:docs

#766 Added spdx package component information from SPDX file
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/SpdxPackageComponent.cs
  src/Microsoft.ComponentDetection.Detectors/spdx/Contracts/CreationInfo.cs
  src/Microsoft.ComponentDetection.Detectors/spdx/Contracts/SpdxExternalRefs.cs
  src/Microsoft.ComponentDetection.Detectors/spdx/Contracts/SpdxFileData.cs
  src/Microsoft.ComponentDetection.Detectors/spdx/Contracts/SpdxPackage.cs
  src/Microsoft.ComponentDetection.Detectors/spdx/Spdx22ComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/SPDX22ComponentDetectorTests.cs
Labels: type:feature, spdx

#785 fix(test): duplicate spdx external refs
  test/Microsoft.ComponentDetection.VerificationTests/ComponentDetectionIntegrationTests.cs
  test/Microsoft.ComponentDetection.VerificationTests/Microsoft.ComponentDetection.VerificationTests.csproj
Labels: type:bug, type:tests

#776 feat(rust): add `cargo metadata` detector
  src/Microsoft.ComponentDetection.Detectors/rust/Contracts/CargoMetadata.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCliDetector.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/RustCliDetectorExperiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/ServiceCollectionExtensions.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/RustCliDetectorTests.cs
Labels: type:feature, detector:rust

#518 refactor: migrate to `Spectre.Console.Cli`
  Directory.Packages.props
  src/Microsoft.ComponentDetection.Contracts/VerbosityMode.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentHelper.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/BaseArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/BcdeArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/BcdeDevArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/IDetectionArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/IListDetectionArgs.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/IScanArguments.cs
  src/Microsoft.ComponentDetection.Orchestrator/ArgumentSets/ListDetectionArgs.cs
  src/Microsoft.ComponentDetection.Orchestrator/CommandLineArgumentsExporter.cs
  src/Microsoft.ComponentDetection.Orchestrator/Commands/BaseSettings.cs
  src/Microsoft.ComponentDetection.Orchestrator/Commands/Interceptor.cs
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ListDetectorsCommand.cs
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ListDetectorsSettings.cs
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ScanCommand.cs
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ScanSettings.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/ExperimentService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/IExperimentService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/CommaDelimitedConverter.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/KeyValueDelimitedConverter.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/SemicolonDelimitedConverter.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/ServiceCollectionExtensions.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/TypeRegistrar.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/TypeResolver.cs
  src/Microsoft.ComponentDetection.Orchestrator/LoggingEnricher.cs
  src/Microsoft.ComponentDetection.Orchestrator/Microsoft.ComponentDetection.Orchestrator.csproj
  src/Microsoft.ComponentDetection.Orchestrator/Orchestrator.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/BcdeDevCommandService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/BcdeScanCommandService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorListingCommandService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorProcessingService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/GraphTranslation/DefaultGraphTranslationService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/GraphTranslation/IGraphTranslationService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/IArgumentHandlingService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/IBcdeScanExecutionService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/IDetectorProcessingService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/IScanExecutionService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/ScanExecutionService.cs
  src/Microsoft.ComponentDetection/Microsoft.ComponentDetection.csproj
  src/Microsoft.ComponentDetection/Program.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Commands/InterceptorTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Commands/ListDetectorCommandTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Commands/ScanCommandTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Extensions/CommaDelimitedConverterTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Extensions/KeyValueDelimitedConverterTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Extensions/SemicolonDelimitedConverterTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Extensions/TypeRegistrarTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/LoggingEnricherTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Microsoft.ComponentDetection.Orchestrator.Tests.csproj
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/BcdeDevCommandServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/BcdeScanExecutionServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DefaultGraphTranslationServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DetectorListingCommandServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DetectorProcessingServiceTests.cs
Labels: type:refactor, breaking change

#793 refactor: remove `BroadcastChannel`
  src/Microsoft.ComponentDetection.Common/Channels/BroadcastChannelService.cs
  src/Microsoft.ComponentDetection.Common/Channels/IBroadcastChannelService.cs
  test/Microsoft.ComponentDetection.Common.Tests/BroadcastChannelServiceTests.cs
Labels: type:refactor

#805 fix: validate `--SourceDirectory`
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ScanSettings.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Commands/ScanSettingsTests.cs
Labels: type:bug

#807 fix: `--IgnoreDirectories` delimited by commas
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ScanSettings.cs
Labels: type:bug

#808 fix: validate `--Output`
  src/Microsoft.ComponentDetection.Orchestrator/Commands/BaseSettings.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Commands/BaseSettingsTests.cs
Labels: type:bug

#810 feat(experiments): record rust cli if `cargo` exists
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/IExperimentConfiguration.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/RustCliDetectorExperiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/ExperimentService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/IExperimentService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorProcessingService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DetectorProcessingServiceTests.cs
Labels: type:feature

#811 chore(rust): switch new detector to `IDefaultOffComponentDetector`
  src/Microsoft.ComponentDetection.Detectors/rust/RustCliDetector.cs
Labels: type:bug

#821 docs(go): add go fallback strategy troubleshooting guide
  docs/detectors/go.md
Labels: type:docs

#812 tests: verify `IExperimentConfiguration`s
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/ExperimentConfigTests.cs
Labels: type:tests

#813 tests: detector properties
  test/Microsoft.ComponentDetection.Detectors.Tests/ComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Microsoft.ComponentDetection.Detectors.Tests.csproj
Labels: type:tests

#819 chore: add `codecov.yml`
  .github/codecov.yml
Labels: type:ci
