Repository microsoft/component-detection, pull requests merged in 2023-08, with the labels that each got.

#693 refactor(pip): make regex static & cleanup resolver
  src/Microsoft.ComponentDetection.Detectors/pip/SimplePythonResolver.cs
Labels: type:refactor, detector:pip

#694 refactor: use `FluentAssertions.Analyzers` for Common tests
  test/Microsoft.ComponentDetection.Common.Tests/BaseDetectionTelemetryRecordTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/CommandLineInvocationServiceTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/ComponentStreamEnumerableTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/DependencyGraphTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/DockerServiceTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/EnvironmentVariableServiceTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/FileEnumerationTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/Microsoft.ComponentDetection.Common.Tests.csproj
Labels: type:refactor, type:tests

#704 ci: enable simple pip detector
  .github/workflows/snapshot-publish.yml
  .github/workflows/snapshot-verify.yml
Labels: type:ci

#703 feat(pip): fetch roots in parallel
  src/Microsoft.ComponentDetection.Detectors/pip/SimplePythonResolver.cs
Labels: type:feature, detector:pip

#692 Feature: Add conan detector that parses conan.lock files of conan package manager version 1.x
  docs/detectors/conan.md
  src/Microsoft.ComponentDetection.Contracts/BcdeModels/TypedComponentConverter.cs
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/ComponentType.cs
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/ConanComponent.cs
  src/Microsoft.ComponentDetection.Detectors/conan/ConanLockComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/conan/Contracts/ConanLock.cs
  src/Microsoft.ComponentDetection.Detectors/conan/Contracts/ConanLockGraph.cs
  src/Microsoft.ComponentDetection.Detectors/conan/Contracts/ConanLockNode.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/ServiceCollectionExtensions.cs
  test/Microsoft.ComponentDetection.Contracts.Tests/TypedComponentSerializationTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/ConanLockComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.VerificationTests/resources/VerificationTest.ps1
  test/Microsoft.ComponentDetection.VerificationTests/resources/conan/conanPythonFile/conan.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/conan/conanPythonFile/conanfile.py
  test/Microsoft.ComponentDetection.VerificationTests/resources/conan/conanTextFile/conan.lock
  test/Microsoft.ComponentDetection.VerificationTests/resources/conan/conanTextFile/conanfile.txt
Labels: version:minor, type:feature

#714 docs(go): Go strategy doc fix
  docs/detectors/go.md
Labels: type:docs

#717 docs(readme): Fix README dotnet run instructions
  README.md
  docs/detector-arguments.md
Labels: type:docs

#718 feat: record telemetry on Go fallback detection strategy
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/GoGraphTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
Labels: detector:go

#725 fix(nuget): null ref when parsing `paket.lock`
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/NuGetComponentDetectorTests.cs
Labels: type:bug, detector:nuget

#729 ci(release): ignore asset upload failures
  .github/workflows/release.yml
Labels: type:ci

#738 feat(go): record version in `go.mod`
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/GoGraphTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
Labels: type:feature, detector:go

#741 ci: update ivy to v2.5.2
  .github/workflows/smoke-test.yml
  .github/workflows/snapshot-publish.yml
  .github/workflows/snapshot-verify.yml
Labels: type:ci

#752 ci: remove nuget caching
  .github/workflows/build.yml
  .github/workflows/smoke-test.yml
  .github/workflows/snapshot-publish.yml
  .github/workflows/snapshot-verify.yml
Labels: type:ci

#751 feat(go): better `go.mod` scanning for go >= 1.17
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/GoComponentDetectorTests.cs
Labels: version:minor, type:feature

#754 ci: add Codecov
  .github/workflows/build.yml
  Directory.Packages.props
  test/Microsoft.ComponentDetection.Common.Tests/Microsoft.ComponentDetection.Common.Tests.csproj
  test/Microsoft.ComponentDetection.Contracts.Tests/Microsoft.ComponentDetection.Contracts.Tests.csproj
  test/Microsoft.ComponentDetection.Detectors.Tests/Microsoft.ComponentDetection.Detectors.Tests.csproj
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Microsoft.ComponentDetection.Orchestrator.Tests.csproj
Labels: type:ci, type:tests

#756 tests(common): add more tests
  test/Microsoft.ComponentDetection.Common.Tests/AsyncExceptionTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/DockerReferenceUtilityTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/LazyComponentStreamTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/PatternMatchingUtilityTests.cs
  test/Microsoft.ComponentDetection.Common.Tests/TabularStringFormatTests.cs
Labels: type:tests
