Repository microsoft/component-detection, pull requests merged in 2024-05, with the labels that each got.

#1094 Lower experiments log severity
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/ExperimentService.cs
Labels: type:refactor

#1101 Use a random name for working folder for IvyDetector
  src/Microsoft.ComponentDetection.Detectors/ivy/IvyDetector.cs
Labels: type:bug, detector:ivy

#1110 Add pnpm v6 support as an experimental detector
  src/Microsoft.ComponentDetection.Contracts/FileComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Contracts/Package.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Contracts/PnpmHasDependenciesV6.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Contracts/PnpmVersionSpecification.md
  src/Microsoft.ComponentDetection.Detectors/pnpm/Contracts/PnpmYamlV5.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Contracts/PnpmYamlV6.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Contracts/PnpmYamlV6Dependency.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Contracts/PnpmYamlVersion.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Package.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Pnpm6ComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/PnpmComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/PnpmParsingUtilities.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/PnpmYaml.cs
  src/Microsoft.ComponentDetection.Detectors/ruby/RubyComponentDetector.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/Pnpm6Experiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/ServiceCollectionExtensions.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Pnpm6DetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PnpmDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PnpmParsingUtilitiesTest.cs
  test/Microsoft.ComponentDetection.VerificationTests/resources/pnpm/README.md
  test/Microsoft.ComponentDetection.VerificationTests/resources/pnpm/v5/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/pnpm/v5/pnpm-lock.yaml
  test/Microsoft.ComponentDetection.VerificationTests/resources/pnpm/v6/package.json
  test/Microsoft.ComponentDetection.VerificationTests/resources/pnpm/v6/pnpm-lock.yaml
Labels: version:minor, type:feature, detector:pnpm, .NET

#1106 Update RustCli Parsing to process pkgId, and introduce manual override
  src/Microsoft.ComponentDetection.Contracts/TypedComponent/CargoComponent.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCliDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/RustCliDetectorTests.cs
Labels: type:feature, detector:rust

#1129 Add Pip installation report experimental detector
  src/Microsoft.ComponentDetection.Common/FileUtilityService.cs
  src/Microsoft.ComponentDetection.Common/PathUtilityService.cs
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/FailedParsingFileRecord.cs
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/FailedReadingFileRecord.cs
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/PipReportFailureTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/PipReportVersionTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Contracts/IFileUtilityService.cs
  src/Microsoft.ComponentDetection.Contracts/IPathUtilityService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/IPipCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/IPythonCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/IPythonResolver.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/ISimplePyPiClient.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/ISimplePythonResolver.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipDependencySpecification.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipGraphNode.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipInstallationMetadata.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipInstallationReport.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipInstallationReportItem.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipReportGraphNode.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PythonProject.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PythonProjectInfo.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PythonProjectRelease.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PythonResolverState.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PythonVersion.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipReportComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipReportUtilities.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonCommandService.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/PipReportExperiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/ServiceCollectionExtensions.cs
  test/Microsoft.ComponentDetection.Common.Tests/PathUtilityServiceTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Microsoft.ComponentDetection.Detectors.Tests.csproj
  test/Microsoft.ComponentDetection.Detectors.Tests/Mocks/TestResources.Designer.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Mocks/TestResources.resx
  test/Microsoft.ComponentDetection.Detectors.Tests/Mocks/pip_report_jupyterlab.json
  test/Microsoft.ComponentDetection.Detectors.Tests/Mocks/pip_report_multi_pkg.json
  test/Microsoft.ComponentDetection.Detectors.Tests/Mocks/pip_report_single_pkg.json
  test/Microsoft.ComponentDetection.Detectors.Tests/Mocks/pip_report_single_pkg_bad_version.json
  test/Microsoft.ComponentDetection.Detectors.Tests/PipCommandServiceTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipReportComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipReportUtilitiesTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PythonCommandServiceTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Utilities/ComponentRecorderTestUtilities.cs
Labels: version:minor, type:feature, detector:pip

#1131 Small updates to PipReport detector
  .github/workflows/smoke-test.yml
  docs/detectors/pip.md
  src/Microsoft.ComponentDetection.Detectors/pip/PipCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipReportComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipCommandServiceTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipReportComponentDetectorTests.cs
Labels: type:refactor, detector:pip

#1091 Minimatch for directory exclusion
  docs/detector-arguments.md
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ScanSettings.cs
  src/Microsoft.ComponentDetection.Orchestrator/Microsoft.ComponentDetection.Orchestrator.csproj
  src/Microsoft.ComponentDetection.Orchestrator/Minimatch.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorProcessingService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/MinimatchTests.cs
Labels: version:major, status:waiting-on-response, type:feature, breaking change, .NET

#1144 Increase Python cache window
  docs/detectors/pip.md
  src/Microsoft.ComponentDetection.Detectors/pip/IPyPiClient.cs
  src/Microsoft.ComponentDetection.Detectors/pip/SimplePypiClient.cs
Labels: type:refactor, detector:pip
