Repository microsoft/component-detection, pull requests merged in 2024-06, with the labels that each got.

#1145 Merged pnpm6 experiment into pnpm detector
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/InvalidParseVersionTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Common/Telemetry/Records/PipReportVersionTelemetryRecord.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipReportComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/IPnpmDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Pnpm5Detector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/Pnpm6Detector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/PnpmComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/PnpmComponentDetectorFactory.cs
  src/Microsoft.ComponentDetection.Orchestrator/Experiments/Configs/Pnpm6Experiment.cs
  src/Microsoft.ComponentDetection.Orchestrator/Extensions/ServiceCollectionExtensions.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/Pnpm6DetectorTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PnpmDetectorTests.cs
Labels: version:minor, type:feature, detector:pnpm

#1151 Pauldorsch/remove pip report throw
  src/Microsoft.ComponentDetection.Detectors/pip/PipReportComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipReportComponentDetectorTests.cs
Labels: version:patch, type:bug, detector:pip

#1152 Update NormalizePath to handle Windows correctly
  src/Microsoft.ComponentDetection.Common/PathUtilityService.cs
  src/Microsoft.ComponentDetection.Contracts/IPathUtilityService.cs
  test/Microsoft.ComponentDetection.Common.Tests/PathUtilityServiceTests.cs
Labels: version:patch, type:bug, detector:pip

#1156 Update Gradle parsing to reduce logging calls
  src/Microsoft.ComponentDetection.Detectors/gradle/GradleComponentDetector.cs
Labels: type:refactor, detector:gradle

#1157 Update renovate.json configuration
  renovate.json
Labels: type:ci, dependencies

#1167 Add CancellationToken support to CD processes
  src/Microsoft.ComponentDetection.Common/CommandLineInvocationService.cs
  src/Microsoft.ComponentDetection.Common/FileWritingService.cs
  src/Microsoft.ComponentDetection.Common/IFileWritingService.cs
  src/Microsoft.ComponentDetection.Contracts/FileComponentDetector.cs
  src/Microsoft.ComponentDetection.Contracts/ICommandLineInvocationService.cs
  src/Microsoft.ComponentDetection.Contracts/IComponentDetector.cs
  src/Microsoft.ComponentDetection.Contracts/ScanRequest.cs
  src/Microsoft.ComponentDetection.Detectors/cocoapods/PodComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/conan/ConanLockComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/conda/CondaLockComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/dockerfile/DockerfileComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentWithReplaceDetector.cs
  src/Microsoft.ComponentDetection.Detectors/gradle/GradleComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/ivy/IvyDetector.cs
  src/Microsoft.ComponentDetection.Detectors/linux/LinuxContainerDetector.cs
  src/Microsoft.ComponentDetection.Detectors/maven/MvnCliComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/npm/NpmComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/npm/NpmLockfileDetectorBase.cs
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetPackagesConfigDetector.cs
  src/Microsoft.ComponentDetection.Detectors/nuget/NuGetProjectModelProjectCentricComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/IPipCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipReportComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/SimplePipComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pnpm/PnpmComponentDetectorFactory.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/PoetryComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/ruby/RubyComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCliDetector.cs
  src/Microsoft.ComponentDetection.Detectors/rust/RustCrateDetector.cs
  src/Microsoft.ComponentDetection.Detectors/spdx/Spdx22ComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/vcpkg/VcpkgComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/yarn/YarnLockComponentDetector.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorProcessingService.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipCommandServiceTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipReportComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Experiments/DefaultExperimentProcessorTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/BcdeScanExecutionServiceTests.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/DetectorProcessingServiceTests.cs
Labels: version:minor, type:feature, .NET

#973 Add python version conditional dependency check
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/IPythonCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/IPythonResolver.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipDependencySpecification.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonResolver.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipDependencySpecifierTests.cs
Labels: type:feature, detector:pip

#1171 Enable parallelism by detector
  src/Microsoft.ComponentDetection.Contracts/FileComponentDetector.cs
  src/Microsoft.ComponentDetection.Contracts/ScanRequest.cs
  src/Microsoft.ComponentDetection.Detectors/go/GoComponentWithReplaceDetector.cs
  src/Microsoft.ComponentDetection.Orchestrator/Commands/ScanSettings.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/DetectorProcessingService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Commands/ScanSettingsTests.cs
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/parallel/parallel-test-1/requirements.txt
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/parallel/parallel-test-2/requirements.txt
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/parallel/parallel-test-3/requirements.txt
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/parallel/parallel-test-4/requirements.txt
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/parallel/parallel-test-5/requirements.txt
Labels: version:minor, type:feature, .NET

#1177 optimize regular expression creation in NpmComponentDetector
  src/Microsoft.ComponentDetection.Detectors/npm/NpmComponentDetector.cs
Labels: type:refactor, detector:npm

#1183 Pauldorsch/reconcile dependency graph logic
  src/Microsoft.ComponentDetection.Contracts/FileComponentDetector.cs
  src/Microsoft.ComponentDetection.Contracts/ScanRequest.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/IPythonCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/Contracts/PipDependencySpecification.cs
  src/Microsoft.ComponentDetection.Detectors/pip/IPyPiClient.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PipReportComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonCommandService.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonResolver.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipDependencySpecifierTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipReportComponentDetectorTests.cs
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/roots/requirements.txt
  test/Microsoft.ComponentDetection.VerificationTests/resources/pip/simple-extras/requirements.txt
Labels: version:minor, type:bug, type:refactor, detector:pip
