Repository microsoft/component-detection, pull requests merged in 2024-02, with the labels that each got.

#927 Get ancestor for displaying dependency tree in relationships
  src/Microsoft.ComponentDetection.Contracts/BcdeModels/ScannedComponent.cs
  src/Microsoft.ComponentDetection.Contracts/DetectedComponent.cs
  src/Microsoft.ComponentDetection.Orchestrator/Services/GraphTranslation/DefaultGraphTranslationService.cs
  test/Microsoft.ComponentDetection.Orchestrator.Tests/Services/BcdeScanExecutionServiceTests.cs
Labels: version:minor, type:feature

#991 remove category usage from the poetry detector
  docs/detectors/poetry.md
  src/Microsoft.ComponentDetection.Detectors/poetry/Contracts/PoetryPackage.cs
  src/Microsoft.ComponentDetection.Detectors/poetry/PoetryComponentDetector.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PoetryComponentDetectorTests.cs
Labels: type:bug, detector:poetry

#1006 Catch version spec failures in Python detection
  src/Microsoft.ComponentDetection.Detectors/pip/PipComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/PythonResolver.cs
  src/Microsoft.ComponentDetection.Detectors/pip/SimplePipComponentDetector.cs
  src/Microsoft.ComponentDetection.Detectors/pip/SimplePythonResolver.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/PipResolverTests.cs
  test/Microsoft.ComponentDetection.Detectors.Tests/SimplePythonResolverTests.cs
Labels: type:bug, detector:pip
